<div class="header">
    <ul class="menu">

        <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="/blog"><i class="fa-solid fa-blog"></i>Blog</a></li>
        {% if app.user %}
        <li><a href="/link"><i class="fa-solid fa-newspaper"></i>Links</a></li>
        <li><a href="/user"><i class="fa fa-users"></i>Users</a></li>
        <li><a href="/dashboard"><i class="fa-solid fa-house"></i>Dashboard</a></li>
        <li class="logout">
            <form action="{{ logout_path('main') }}" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i>Log out</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
            </form>
        </li>
        {% else %}
        <li class="logout"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Log in</a></li>
        {% endif %}
        
    </ul>
</div>